<div class="layui-header">
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:window.location.reload();"title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

        <li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                <i class="layui-icon layui-icon-notice"></i>

                <!-- 如果有新消息，则显示小圆点 -->
                <span class="layui-badge-dot"></span>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
                <i class="layui-icon layui-icon-theme"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
                <cite>{{ .Nickname}}</cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" id="viewAdministrator" data-url="/admin/administrator/info">基本资料</a></dd>
                <dd><a href="javascript:;" id="refreshAuth" data-url="/admin/auth/administrator/refreshAuth">刷新权限</a></dd>
                <hr>
                <dd style="text-align: center;"><a href="/admin/logout">退出</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>

    </ul>
</div>

<div class="layui-layer-content">
    <form action="/admin/administrator/info" id="viewEditAdminInfo" data-title="查看/修改信息" style="margin-top: 5%;display: none" class="layui-layer-wrap">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input value="{{.AdminId}}}" id="adminId" type="hidden" name="id" required="" autocomplete="off" class="layui-input">
                <input type="hidden" name="_method" value="PUT">
                <input style="width:80%" value="" disabled="" id="adminUsername" type="text" name="username" required="" lay-verify="required" placeholder="用户名无法更改" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input style="width:80%" type="text" id="adminNickname" name="nickname" value="" required="" lay-verify="required" placeholder="请输入管理员昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input style="width:80%" id="adminPassword" type="text" name="password" required="" lay-verify="required" placeholder="为空则不修改密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱地址</label>
            <div class="layui-input-block">
                <input style="width:80%" type="text" id="adminEmail" name="email" value="" required="" lay-verify="required" placeholder="请输入管理员邮箱地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input style="width:80%" type="text" id="adminCreateTime" name="create_time" value="" required="" lay-verify="required" placeholder="管理员信息创建时间" disabled autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-block">
                <input style="width:80%" type="text" id="adminUpdateTime"  name="update_time" value="" required="" lay-verify="required" placeholder="管理员信息更新时间" disabled autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a class="layui-btn" id="saveAdminInfo">立即提交</a>
            </div>
        </div>
    </form>
</div>

<script>
    let adminId = {{.AdminId}}
    $("#refreshAuth").click(function () {
        $.get($("#refreshAuth").data("url"), {_xsrf:xsrf_token}, function (data) {
            // status为0表示操作失败
            if (data.statusCode === 0) {
                layer.alert(data.message, {
                    icon: 2,
                    skin: 'layer-ext-moon',
                    closeBtn: 0
                })
            }

            // status为1表示操作成功
            if (data.statusCode === 1) {
                window.location.reload();
            }
        });
    });
    
    // 修改资料
    $("#viewAdministrator").click(function () {
        // 获取管理员信息
        $.get($(this).data("url"), {id:adminId, _method:"GET", _xsrf:xsrf_token}, function (data) {
            data = data.data;
            $("#adminId").val(data.Id);
            $("#adminUsername").val(data.Username);
            $("#adminNickname").val(data.Nickname);
            $("#adminEmail").val(data.Email);
            $("#adminCreateTime").val(GMTToStr(data.CreatedAt));
            $("#adminUpdateTime").val(GMTToStr(data.UpdatedAt));
            $("#adminPassword").val("");
        });
        openForm("viewEditAdminInfo");
    });
    
    $("#saveAdminInfo").click(function () {
        let formId = "viewEditAdminInfo";
        let url = $("#"+formId).attr('action');
        let data = $("#"+formId).serialize();
        data += "&_xsrf=" + xsrf_token;
        // 采用PUT请求
        $.post(url, data, function (data) {
            processAjaxReturnData(data)
        });
    })
    
</script>