<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-sm" onclick="openForm('AddForm')">新增权限</button>
                </div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-col-lg2">
                                <label class="layui-form-label">权限名称：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="Search_Name" value="{{.Search_Name}}" placeholder="搜索权限名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-lg2">
                                <div class="layui-input-block">
                                    <button class="layui-btn">搜索</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="layui-card">
                <di id="permissionHasAction" data-title="分配行为" style="display: none">
                    <div id="assignPermissionAction">

                    </div>
                    <div class="layui-btn-group" style="margin-left:30%;margin-top: 2%">
                        <button class="layui-btn" id="right">提交右边数据</button>
                    </div>
                </di>
                <div class="layui-card-body">
                    <form action="/admin/auth/permission" id="AddForm" data-title="添加权限" style="display: none;margin-top:5%">
                        <div class="layui-form-item">
                            <label class="layui-form-label">权限名称</label>
                            <div class="layui-input-block">
                                <input style="width:80%" type="text" name="name" required="" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <a class="layui-btn" id="AddFormSubmit">立即提交</a>
                            </div>
                        </div>
                    </form>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>权限名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{/*循环展示数据*/}}
                        {{range .Permissions}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Name}}</td>
                                <td>
                                    {{/*编辑模态框*/}}
                                    <form action="/admin/auth/permission" id="EditForm{{.ID}}" data-title="编辑权限" style="display: none;margin-top:5%">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">权限名称</label>
                                            <div class="layui-input-block">
                                                <input value="{{.ID}}" type="hidden" name="id" required="" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
                                                <input style="width:80%" value="{{.Name}}" type="text" name="name" required="" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
                                                <input type="hidden" name="_method" value="PUT">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <a class="layui-btn EditFormSubmit" data-form_id="EditForm{{.ID}}">立即提交</a>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="layui-btn layui-btn-xs" data-id="{{.ID}}" onclick="openForm('EditForm{{.ID}}')">编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs DeleteRecordById" data-id="{{.ID}}" data-tips="{{.Name}}" data-url="/admin/auth/permission">删除</a>
                                    <a class="layui-btn layui-btn-warm layui-btn-xs permissionHasAction" data-id="{{.ID}}">分配行为</a>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="pageShow" data-count="{{.TotalCount}}" data-page_size="{{.PageSize}}" data-page="{{.Page}}"></div>
    </div>
</div>
<script>
    // 全局权限id
    let permissionId = 0;

    //数据源
    $(function () {
        $(".permissionHasAction").click(function () {
            let id = $(this).data("id");
            permissionId = id;
            // 请求数据源
            $.get("/admin/auth/permission/actions",{id:id, _method:"GET", _xsrf:xsrf_token},function (resp) {
                if (resp.statusCode === 1) {
                    showData(resp.data.all, resp.data.has);
                } else {
                    layer.alert(data.message)
                }
            });
            openForm("permissionHasAction", 600, 700)
        });
    });
    function showData(all, has) {
        layui.use(['transfer'], function(){
            var $ = layui.$;
            transfer = layui.transfer;

            //实例调用
            transfer.render({
                elem: '#assignPermissionAction'
                ,title: ['未拥有权限', '已拥有权限']  //自定义标题
                ,data: all
                ,id: 'assignPermissionAction' //定义唯一索引
                ,parseData: function(res){
                    return {
                        "value": res.ID //数据值
                        ,"title": res.Name //数据标题
                        ,"disabled": false  //是否禁用
                        ,"checked": false //是否选中
                    }
                }
                ,value: has
                ,showSearch: true
                ,reload:function(){
                    //实例重载
                    transfer.reload('assignPermissionAction', {
                        title: ['未拥有权限', '已拥有权限']
                        ,value: has
                        ,showSearch: true
                    })
                }
                ,height: 550
                ,weight:500
            });
        });
    }
    $('#right').on('click',function () {
        var transfer = layui.transfer;
        var data = transfer.getData('assignPermissionAction'); //获得右侧数据
        console.log(data);
        var ids = [];
        for (let i in data){
            console.log(data[i]);
            ids.push(data[i].value)
        }
        // 发送数据
        $.post("/admin/auth/permission/actions", {permissionId:permissionId, actionIds:ids, _method:"PUT", _xsrf:xsrf_token}, function (data) {
            processAjaxReturnData(data)
        });
    });
</script>