<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <a href="{{.ExampleExcelUrl}}" class="layui-btn">excel模板下载</a>
                </div>
                <div class="layui-card-body">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="excelUpload">excel上传</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                        <input type="file" id="file" style="display: none" class="files" />
                    </div>
                </div>
                <div class="layui-card-body">
                    <a href="javascript:;" data-url="/tools/excelExport" class="layui-btn" id="excelDownload">excel数据导出</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 调用上传文件事件
    $("#excelUpload").click(function () {
        $("#file").click();
    });
    // ajax上传文件
    $(document).ready(function() {
        var xsrf_token = $('meta[name=_xsrf]').attr('content');
        $("#file").change(function () {
            // 图片上传地址
            var url = "/tools/excelImport";
            var upload = function (f, xsrf_token) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                var formData = new FormData();
                formData.append('file', f);
                formData.append('_xsrf', xsrf_token);
                xhr.onreadystatechange = function (response) {
                    if ((xhr.readyState == 4) && (xhr.status == 200) && (xhr.responseText != '')){
                        var data = JSON.parse(xhr.responseText);
                        processAjaxReturnData(data)
                    }else if((xhr.status != 200) && xhr.responseText){
                        layer.msg("上传失败");
                    }
                };
                xhr.send(formData);
            };
            if ($("#file")[0].files.length > 0) {
                upload($("#file")[0].files[0], xsrf_token);
            } else {
                console && console.log("form input error");
            }
        });
    });
    
    
    // 下载excel
    $("#excelDownload").click(function () {
        $.get($("#excelDownload").data("url"), {_xsrf:xsrf_token}, function (data) {
            // status为0表示操作失败
            if (data.statusCode === 0) {
                layer.alert(data.message, {
                    icon: 2,
                    skin: 'layer-ext-moon',
                    closeBtn: 0
                })
            }

            // status为1表示操作成功
            if (data.statusCode === 1) {
                window.location.href = data.url
            }
        });
    });
</script>