<style type="text/css">
    .layui-breadcrumb {
        height: 60px;
        line-height: 70px;
        display: block
    }

    ul.nav li {
        padding: 10px 1em;
        color: #666;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        float: left
    }

    ul.nav li a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0;
        cursor: pointer;
    }

    ul.nav li.on a {
        border-bottom: 2px solid #417d52;
        color: #417d52;
        font-weight: 400
    }

    ul.nav li a:hover {
        border-bottom: 2px solid #417d52;
        color: #417d52;
        background: transparent;
    }

    .action {
        opacity: 0
    }

</style>
<style>
    .left-menu {
        background: #ffffff;
        border: solid 1px #eeeeee;
    }

    .left-menu ul, .left-menu li {
        list-style: none;
        width: 100%;
    }

    .left-menu li {
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        border-bottom: solid 1px #eeeeee;
    }

    .left-menu li:last-child {
        border-bottom: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img src="/static/company/images/page-bg.jpg" style="width:100%;height:auto">
    </div>
</div>
<div class="container-fluid" style="background:#f6f6f6;">
    <div class="row">
        <div class="container">
            <div class="row" id="body-content">
                {{/*<div class="col-md-2 col-md-offset-0 col-xs-12 left-menu">*/}}
                    {{/*<ul>*/}}
                        {{/*<li><a href="javascript:void(0)">关于我们</a></li>*/}}
                        {{/*<li><a href="javascript:void(0)">企业文化</a></li>*/}}
                        {{/*<li><a href="javascript:void(0)">联系我们</a></li>*/}}
                    {{/*</ul>*/}}
                {{/*</div>*/}}
                <div class="col-md-10 col-md-offset-0 col-xs-12" style="background:white; border:1px solid #eee;padding-top:15px; padding-bottom: 15px;">
                    <div class="row">
                        <div class="menu-cols col-xs-12" style="padding: 0;margin-bottom: 20px;height:auto">
                            <div class="title fg"
                                 style="width:6em; padding:0 5px; text-align:center;margin:auto; border-bottom: 4px solid #006650;color: #006650">
                                联系我们
                            </div>
                            <div class="title "
                                 style="width:12em; text-align:center;margin:auto; color: #666;line-height:40px">
                                <span>CONTACT US</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2 ">

                            <ul class="block col-xs-12">
                                <li class="title">无锡菲墨企业管理有限公司</li>
                                <li>地址：xxxxx</li>
                                <li>总机：0571－xxxx</li>
                                <li>传真：0571－xxxx</li>
                                <li>邮编：xxxx</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>