<style type="text/css">
    .layui-breadcrumb {
        height: 60px;
        line-height: 70px;
        display: block
    }

    ul.nav li {
        padding: 10px 1em;
        color: #666;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        float: left
    }

    ul.nav li a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0;
        cursor: pointer;
    }

    ul.nav li.on a {
        border-bottom: 2px solid #417d52;
        color: #417d52;
        font-weight: 400
    }

    ul.nav li a:hover {
        border-bottom: 2px solid #417d52;
        color: #417d52;
        background: transparent;
    }

    .action {
        opacity: 0
    }

</style>
<div class="container-fluid">
    <div class="row">
        <img src="/static/company/images/page-bg.jpg" style="width:100%;height:auto">
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="border-bottom: 1px solid #eee;">
        <div class="container">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
					<span class="layui-breadcrumb" style="visibility: visible;">
						<a href=""> <i class="fa fa-home"></i> 英语分类<span class="layui-box">&gt;</span></a>
						<a id="path"><cite>高级口译班</cite></a>
					</span>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul class="nav pull-right">
                        <li><a href="/english?type=dqkypx">短期口语培训班</a></li>
                        <li><a href="/english?type=fyzgz">翻译资格证考试</a></li>
                        <li><a href="/english?type=tyks">托业考试</a></li>
                        <li class="on"><a href="/english?type=gjkyb">高级口译班</a></li>
                        <li><a href="/english?type=zjkyb">中级口译班</a></li>
                        <li><a href="/english?type=xgnyy">新概念英语</a></li>
                        <li><a href="/english?type=jqyy">剑桥英语</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#f6f6f6;">
    <div class="row">
        <div class="container">
            <div class="row" style="background:white; border:1px solid #eee; " id="body-content">
                <div class="col-md-10 col-md-offset-1 col-xs-12" style="padding-top:15px; padding-bottom: 15px;">
                    <div class="row">
                        <div class="menu-cols col-xs-12" style="margin-bottom: 20px;height:auto">
                            <div class="title fg"
                                 style="width:8em; padding:0 5px; text-align:center;margin:auto; border-bottom: 4px solid #006650;color: #006650">
                                外语提升
                            </div>
                            <div class="title "
                                 style="width:12em; text-align:center;margin:auto; color: #666;line-height:40px">
                                <span>ENGLISH</span>
                            </div>
                        </div>
                    </div>
                    {{/*教学特点*/}}
                    <div class="row">
                        <div class="text col-xs-12 f14 mt10">
                            <h1>语种介绍</h1>
                        </div>
                        <div class="col-xs-12 mt10">
                            <div style="width:100%;border-bottom:1px  dashed #005752;"></div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">1</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">语种介绍1</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>语种介绍</p>
                        </div>
                    </div>
                    {{/*班级设置*/}}
                    <div class="row">
                        <div class="text col-xs-12 f14 mt10">
                            <h1>开设班级介绍</h1>
                        </div>
                        <div class="col-xs-12 mt10">
                            <div style="width:100%;border-bottom:1px  dashed #005752;"></div>
                        </div>
                        <div class="row mt20">
                            <div class="col-xs-12">
                                <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                    <span style="margin-left:16px;font-size:36px;float:left">★</span>
                                    <span class="f18 fg borded" style="margin-left:20px; float:left">班级设置</span>
                                </div>
                            </div>
                            <div class="row mt20">
                                <div class="col-xs-12">
                                    <p><h1>a.口语班</h1></p>
                                    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                                </div>
                                <p>&nbsp;</p>
                                <div class="col-xs-12">
                                    <p><h1>b.能力考试</h1></p>
                                    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>