<style type="text/css">
    .layui-breadcrumb {
        height: 60px;
        line-height: 70px;
        display: block
    }

    ul.nav li {
        padding: 10px 1em;
        color: #666;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        float: left
    }

    ul.nav li a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0;
        cursor: pointer;
    }

    ul.nav li.on a {
        border-bottom: 2px solid #417d52;
        color: #417d52;
        font-weight: 400
    }

    ul.nav li a:hover {
        border-bottom: 2px solid #417d52;
        color: #417d52;
        background: transparent;
    }

    .action {
        opacity: 0
    }

</style>
<div class="container-fluid">
    <div class="row">
        <img src="/static/company/images/page-bg.jpg" style="width:100%;height:auto">
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="border-bottom: 1px solid #eee;">
        <div class="container">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
					<span class="layui-breadcrumb" style="visibility: visible;">
						<a href=""> <i class="fa fa-home"></i> 学历提升<span class="layui-box">&gt;</span></a>
						<a id="path"><cite>在职研究生</cite></a>
					</span>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul class="nav pull-right">
                        <li><a href="/promote?type=dazhuan">0起点大专</a></li>
                        <li><a href="/promote?type=benke">专升本</a></li>
                        <li class="on"><a href="/promote?type=yanjiusheng">在职研究生</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#f6f6f6;">
    <div class="row">
        <div class="container">
            <div class="row" style="background:white; border:1px solid #eee; " id="body-content">
                <div class="col-md-10 col-md-offset-1 col-xs-12" style="padding-top:15px; padding-bottom: 15px;">
                    <div class="row">
                        <div class="menu-cols col-xs-12" style="margin-bottom: 20px;height:auto">
                            <div class="title fg"
                                 style="width:8em; padding:0 5px; text-align:center;margin:auto; border-bottom: 4px solid #006650;color: #006650">
                                学历提升
                            </div>
                            <div class="title "
                                 style="width:12em; text-align:center;margin:auto; color: #666;line-height:40px">
                                <span>PROMOTE</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title col-xs-12 f18 fg borded">
                            教学特点
                        </div>
                        <div class="text col-xs-12 f14 mt10">
                            绿城分层分类的培训发展体系，使得新员工从入职即可开始接受全方位、矩阵式的培训，培训将伴随员工在绿城的职业发展一路同行，在不同的职业生涯发展阶段，都有相应的培训项目作为员工成长的支持，员工的发展通道变化，培训内容也会做相应调整。
                        </div>
                        <div class="col-xs-12 mt10">
                            <div style="width:100%;border-bottom:1px  dashed #005752;"></div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">1</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点1</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>柠檬计划”即绿城新员工培训，包括针对校园招聘新员工的“青柠檬计划”培训和针对社会招聘新员工的“黄柠檬计划”培训。</p>
                            <p>
                                “青柠檬计划”是绿城集团针对应届大学毕业生的系统培训项目，旨在帮助应届大学生员工成功迈出职场第一步，加快其职业化转型，并经过为期一年的跟踪考察培养，逐步成长为“术业有专攻、举止有方寸、处世有追求”的高业务能力、高职业素养、高忠诚度的优秀储备人才，以期促进应届毕业生实现从社会人到绿城人、从校园人到职业人、从理论型到应用型的三大转变。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(/static/company/images/title-bg.jpeg) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">2</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点2</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                “青年骨干培训班”作为公司中层经理后备人才培养与储备的重要组织形式。旨在从业务骨干培养成为未来的业务精英与管理精英，将青年骨干逐步塑造成符合绿城文化和职业素养要求的优秀管理者和专业人才，为公司中层精力梯队培养和储备后备人才。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(/static/company/images/title-bg.jpeg) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">3</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点3</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                “彩虹计划”项目是一个系统的培养项目总经理队伍的战略性人才工程，定位于现有队伍的系统能力提升，以及后备队伍的培养与储备。旨在承接集团规模化快速发展战略，提升项目总经理人才队伍的领导力，加速后备人才队伍的复制培养与储备；支持业务发展和岗位专业需要，通过房地产开发全流程业务培训，深耕项目总及后备人才的专业知识与技能。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">4</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点4</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                资格认证的根本目标，是通过对人才标准的建立，牵引组织能力的提升，在有效支持集团战略的同时，减小组织对个人的依赖性风险。资格认证“上连接绩效，下检验培训”，通过创造公平的员工发展机会、打造公正的内部人才竞争环境，提升组织与员工活力，牵引员工自动自发的学习与发展。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">5</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点5</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                绿城导师制是指由经验或能力上资深的导师辅导员工，正确认识工作价值，传承企业文化理念，分享工作经验，提升工作技能，引导关系处理，规划职业发展，帮助员工更快成长与进步的培养机制。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">6</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点6</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>轮岗制是旨在提升专业或管理方面的综合知识与技能，而组织实施的有目标、有计划、有评估的一种培养与学习行为。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">7</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">教学特点7</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>工作任务就是培训内容；工作难点就是培训课题；工作标准就是培训教材；工作场景就是培训课堂，“以会代训”是将工作例会变成培训的一种有效方式。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12 ">
                            <div style="width:100%;border-bottom:1px  dashed #005752;"></div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="title col-xs-12 f18 fg borded">
                            班级设置
                        </div>
                        <div class="text col-xs-12 f14 mt10">
                            绿城是一所学校。公司存在的理由，是为了员工的成长；培养优秀的员工，是企业运作的首要目标。绿城要把企业还原成学校。绿城培养的人才，使自身得益，但更重要的是社会能够得益。
                        </div>

                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=0&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">1</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">班级设置1</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                对于员工，我们是平台资源的整合提供者，是员工学习与成长的伙伴；对于团队，我们是团队学习与全程学习的组织者，是绿城的黄埔军校；对于行业，我们是行业标准的倡导者，是行业人才的孵化器。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(http://zimg.chinagreentown.com/051d19a185ec76879f842f23b1400b4e?x=0&amp;y=50&amp;w=333&amp;h=50) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">2</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">班级设置2</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>工作室培训的主课堂。用以致学，学以致用，将实践与学习互相溶解。管理者是教练和班主任，最好的老师是自己。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12">
                            <div style="background:url(/static/company/images/title-bg2.jpeg) no-repeat;height:50px;line-height:50px; color:white;">
                                <span style="margin-left:16px;font-size:36px;float:left">3</span>
                                <span class="f18 fg borded" style="margin-left:20px; float:left">班级设置3</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <p>在员工不同的职业生涯发展阶段，都有相应的学习内容支持员工成长；员工的职业发展通道发展，学习内容也会做相应调整。</p>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-12 ">
                            <div style="width:100%;border-bottom:1px  dashed #005752;"></div>
                        </div>
                    </div>


                    <div class="row mt20">
                        <div class="title col-xs-12 f18 fg borded">
                            员工关爱
                        </div>
                        <div class="text col-xs-12 f14 mt10">
                            始终关心员工脸上有没有笑容，让大家轻松愉悦地工作。建立员工之家，推行“员工生活服务体系”，真正实行以人为本。公司除了进行员工队伍的培养发展外，还关注员工身体、员工生活、员工家庭，关注员工生理及精神双重健康的方方面面。
                        </div>

                    </div>
                    <div class="row mt20">
                        <div class="col-sm-3 col-xs-4">
                            <img src="/static/company/images/page-box.jpeg" style="width:100%;height:auto">
                        </div>
                        <div class="col-sm-8 col-xs-8 col-sm-offset-1 ">
                            <div class="f18 fg borded">员工生活服务体系</div>
                            <div class="mt10 text">
                                通过员工及家属体检、建立员工健康档案、提高员工食堂管理能力、组织多样的员工活动、员工面谈沟通、家访等员工关爱形式，让员工愉快的工作，营造“家”的氛围。公司不仅为员工提供全生命周期的关怀，同时也为员工家属提供全方位关怀。
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-3 col-xs-4">
                            <img src="/static/company/images/page-box.jpeg" style="width:100%;height:auto">
                        </div>
                        <div class="col-sm-8 col-xs-8 col-sm-offset-1 ">
                            <div class="f18 fg borded">全生命周期的员工关怀</div>
                            <div class="mt10 text">
                                公司不仅为员工提供社会保险、公积金、高温（寒）补贴、独生子女费等法定的福利项目；更是从员工的生日祝福，到员工一年两次的健康体检以及健康解读；从员工结婚、生育的恭贺慰问，到为员工提供商业补充医疗保险；不仅如此，我们还为员工提供交通补贴、通讯补贴、服装福利、节庆福利以及各类假期福利。让员工的方方面面都得到公司无微不至的关注和关怀。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>