<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-table-tool">
                    <div class="layui-table-tool-temp">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" onclick="openForm('AddForm')">新增轮播图</button>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">
                    <form action="/admin/banner" id="AddForm" class="layui-form" data-title="添加轮播图" style="display: none;margin-top:5%">
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-block">
                                <input style="width:80%" type="text" name="name" required="" lay-verify="required" placeholder="请输入轮播图用户名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序值</label>
                            <div class="layui-input-block">
                                <input style="width:80%" type="text" name="sort" required="" lay-verify="required" placeholder="请输入轮播图昵称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">首页展示</label>
                            <div class="layui-input-block">
                                <input type="radio" name="is_show" value="1" title="展示">
                                <input type="radio" name="is_show" value="0" title="关闭">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图片上传</label>
                            <button type="button" class="layui-btn" id="upload_pic">上传图片</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                            <input type="hidden" name="url" value="" id="addBanner">
                            <div class="layui-upload-list" style="display: none">
                                <img width="20%" height="50%" src="" id="upload_pic_url">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <a class="layui-btn" id="AddFormSubmit">立即提交</a>
                            </div>
                        </div>
                    </form>
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>排序值</th>
                            <th>图片</th>
                            <th>首页显示</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>删除时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{/*循环展示数据*/}}
                        {{range .Categories}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Name}}</td>
                                <td>{{.Sort}}</td>
                                <td>
                                    <img src="{{.Url}}" alt="">
                                </td>
                                <td>
                                    {{if eq 1 .IsShow}}是{{else}}否{{end}}
                                </td>
                                <td>{{date .CreatedAt "Y-m-d"}}</td>
                                <td>{{date .UpdatedAt "Y-m-d"}}</td>
                                <td>
                                    {{if .DeletedAt}}
                                        {{date .DeletedAt "Y-m-d"}}
                                    {{else}}
                                        未删除
                                    {{end}}
                                </td>
                                <td>

                                    <a class="layui-btn layui-btn-xs" data-id="{{.ID}}" onclick="openFormBanner({{.ID}}, {{.Name}}, {{.Sort}}, {{.IsShow}}, {{.Url}})">编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs DeleteRecordById" data-id="{{.ID}}" data-tips="{{.Name}}" data-url="/admin/banner">删除</a>
                                    <a class="layui-btn layui-btn-warm layui-btn-xs RecoverRecordById" data-id="{{.ID}}" data-tips="{{.Name}}" data-url="/admin/banner">恢复</a>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="pageShow" data-count="{{.TotalCount}}" data-page_size="{{.PageSize}}" data-page="{{.Page}}"></div>
    </div>
</div>
{{/*编辑模态框*/}}
<form action="/admin/banner" class="layui-form" id="EditForm" data-title="编辑轮播图" style="display: none;margin-top:5%">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input value="" type="hidden" name="id" required="" id="edit_id" autocomplete="off" class="layui-input">
            <input type="hidden" name="_method" value="PUT">
            <input style="width:80%" value="" type="text" name="name" id="edit_name" required="" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序值</label>
        <div class="layui-input-block">
            <input style="width:80%" type="text" name="sort" value="" id="edit_sort" required="" lay-verify="required" placeholder="请输入整数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">首页展示</label>
        <div class="layui-input-block">
            <input type="radio" name="is_show" value="1" id="edit_is_show_show" title="展示">
            <input type="radio" name="is_show" value="0" id="edit_is_show_close" title="关闭">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片上传</label>
        <button type="button" class="layui-btn" id="upload_pic_edit">上传图片</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
        <input type="hidden" name="url" value="" id="upload_pic_edit_url_value">
        <div class="layui-upload-list">
            <img width="20%" height="50%" src="" id="upload_pic_edit_url">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <a class="layui-btn EditFormSubmit" data-form_id="EditForm">立即提交</a>
        </div>
    </div>
</form>

<script>
    function openFormBanner(id, name, sort, is_show, url){
        $("#edit_id").val(id);
        $("#edit_name").val(name);
        $("#edit_sort").val(sort);
        if (is_show == 1){
            $("#edit_is_show_show").attr("checked","checked")
        } else {
            $("#edit_is_show_close").attr("checked","checked")
        }

        $("#upload_pic_edit_url_value").val(url);
        $("#upload_pic_edit_url").attr("src", url);

        layui.form.render();
        openForm("EditForm");
    }
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload_pic' //绑定元素
            ,url: '/admin/tools/uploadFile' //上传接口
            ,data:{
                "type":"banner",
                _xsrf:xsrf_token,
                id:$(this).data('id')
            }
            ,done: function(res){
                $("#upload_pic_url").attr("src", res.url);
                $("#upload_pic_url").parent().show();
                $("#addBanner").val(res.url);
            }
            ,error: function(){
                //请求异常回调
            }
        });

        //执行实例
        var uploadInst = upload.render({
            elem: '.upload_pic_edit' //绑定元素
            ,url: '/admin/tools/uploadFile' //上传接口
            ,data:{
                "type":"banner",
                _xsrf:xsrf_token,
            }
            ,done: function(res){
                $("#upload_pic_edit_url").attr("src", res.url);
                $("#upload_pic_edit_url_value").val(res.url);
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>